<%- include('partials/head.ejs', { included: { developers: true, register: true, login: true } }) %>
    <section class="landing">
      <div class="overlay">
          <div class="landing-inner">
              <h1 class="x-large">Developer Connector</h1>
              <p class="lead">Create developer profile/portfolio, share posts and get help from other developers</p>
              <div class="buttons">
                  <a href="/account/register" class="btn btn-primary">Sign Up</a>
                  <a href="/account/login" class="btn btn">Login</a>
              </div>
          </div>
      </div>
    </section>
<%- include('partials/bottom.ejs') %>