<%- include('../../partials/head', { included: { developers: true, posts: true, dashboard: true, logout: true } }) %>
      <section class="container">
        <h1 class="large text-primary">
            Create Your Profile
        </h1>
        <p class="lead">
            <i class="fas fa-user"></i> Let's get some information to make your profile stand out 
        </p>
      
        <form class="form" action="/dashboard/profile/edit" method="POST">
            <small class="form-text">
                * = required fields
            </small>
            <div class="form-group">
                <select name="status" id="" required>
                    <option value="0">* Select Professional Status</option>
                    <option value="Developer">Developer</option>
                    <option value="Junior Developer">Junior Developer</option>
                    <option value="Senior Developer">Senior Developer</option>
                    <option value="Manager">Manager</option>
                    <option value="Student or Learning">Student or Learning</option>
                    <option value="Instructor or Teacher">Instructor or Teacher</option>
                    <option value="Intern">Intern</option>
                    <option value="Other">Other</option>
                </select>
                <small class="form-text">
                    Give us an idea of where you are at in your career
                </small>
            </div>
            <div class="form-group">
                <input name="company" type="text" placeholder="Company">
                <small class="form-text">Could be your own company or one you work for
                </small>
            </div>
            <div class="form-group">
                <input name="website" type="text" placeholder="Website">
                <small class="form-text">Could be your own or a company website
                </small>
            </div>
            <div class="form-group">
                <input name="location" type="text" placeholder="Location">
                <small class="form-text">City & state suggested (eg. Boston, MA)
                </small>
            </div>
            <div class="form-group">
                <input name="skills" type="text" placeholder="Skills" required>
                <small class="form-text">Please use comma separated values (eg. HTML,CSS,JavaScript,PHP)
                </small>
            </div>
            <div class="form-group">
                <input name="githubusername" type="text" placeholder="Github Username" required>
                <small class="form-text">If you want your latest repos and a Github link, include your username
                </small>
            </div>
            <div class="form-group">
                <textarea name="bio" id="" placeholder="A short bio of yourself"></textarea>
                <small class="form-text">Tell us a little about yourself
                </small>
            </div>
            <div class="my-2">
               <button class="btn btn-light">
                   Add Social Network Links
               </button>
               <small>Optional</small>
            </div>
          
            <div class="form-group social-input">
                <i class="fab fa-twitter fa-2x"></i>
                <input name="twitter" type="text" placeholder="Twitter URL">
            </div>
          
            <div class="form-group social-input">
                <i class="fab fa-facebook fa-2x"></i>
                <input name="facebook" type="text" placeholder="Facebook URL">
            </div>
          
            <div class="form-group social-input">
                <i class="fab fa-youtube fa-2x"></i>
                <input name="youtube" type="text" placeholder="YouTube URL">
            </div>
          
            <div class="form-group social-input">
                <i class="fab fa-linkedin fa-2x"></i>
                <input name="linkedin" type="text" placeholder="Linkedin URL">
            </div>
          
            <div class="form-group social-input">
                <i class="fab fa-instagram fa-2x"></i>
                <input name="instagram" type="text" placeholder="Instagram URL">
            </div>
          
            <input type="submit" class="btn btn-primary my-1" />
            <a href="/dashboard" class="btn btn-light my-1">Go Back</a>
          </form>
      </section>
<%- include('../../partials/bottom') %>